<footer class="bg-white border-t border-zinc-200">
  <div class="px-8 md:px-12 mx-auto max-w-7xl py-6 lg:px-32">
    <section class="gap-y-6 gap-x-8">
      <div>
        <center>
          <p
            class="text-sm text-zinc-600 lg:col-span-2"
            x-data="{ year: new Date().getFullYear() }"
          >
            © <span x-text="year"></span> Tyler Phillips | Ty's Adventure. All rights
            reserved. Built with 💚 and passion by: <a
              class="text-sm text-black hover:text-accent-400 underline"
              href="https://websiteswithtyler.com/">Websites with Tyler</a
            >
            <div id="wcb" class="carbonbadge"></div>
            <script
              src="https://unpkg.com/website-carbon-badges@1.1.3/b.min.js"
              defer></script>
          </p>
        </center>
      </div>
    </section>
  </div>
</footer>
